.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.footer .left{
    font-size: 0.8rem;
}

.footer .links a{
    font-size: 2rem;
    margin-left: 1rem;
    color:tomato;
    transition: all 300ms ease-in-out;
}

.footer .links a:hover{
    color: rgba(255, 165, 0,0.5);
}
@media (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
}